<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.belajar_membaca">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ikon4"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ikon4"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Abc"/>
        <activity android:name=".Mengeja" />
        <activity android:name=".Kalimat" />
        <activity android:name=".Kuis" />
        <activity android:name=".HasilSkoring"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>